<div class="col col-sm-5">
	<div class="calendar-panel">
		<h2 class="date">Rainfall for 
			<span id="selected-date">Today 8/28/2016</span>
		</h2>
		<form method="get" action="https://swppp-app-kyledavid.c9users.io/">
			<input type="hidden" id="hidden-date" name="date">
			<div id="datepicker"></div>
					 
					<script>
					$( "#datepicker" ).datepicker( {
						dateFormat: 'MM dd yy',
						onSelect: function(date) {
							$("#hidden-date").val(date);
						}
					});
					</script>

			<button class="submit">Submit</button>
		</form>
	
	</div><!-- calendar panel -->
</div><!-- col -->