
<div class="col col-sm-5">
	<div class="calendar-panel">
		<h2 class="date">
			<span id="selected-date"></span>
		</h2>
		<form method="get" action="https://swppp-app-kyledavid.c9users.io/">
			<input type="hidden" id="hidden-date" name="date">
			<div id="datepicker"></div>
					 
					<script>
					$( "#datepicker" ).datepicker( {
						dateFormat: 'MM d, yy',
						onSelect: function(date) {
							$("#hidden-date").val(date);
						}
					});
					</script>

			<button class="submit">Submit</button>
		</form>
	
	</div><!-- calendar panel -->
</div><!-- col -->
<script>
	function getQueryVariable(variable)
	{
	       var query = window.location.search.substring(1);
	       var vars = query.split("&");
	       for (var i=0;i<vars.length;i++) {
	               var pair = vars[i].split("=");
	               if(pair[0] == variable){return pair[1];}
	       }
	       return(false);
	}
	
	var todaysDate = getQueryVariable('date');
	let jDate = new Date();
	let dateOptions = {year: 'numeric', month: 'long', day: 'numeric',};
	
	todaysDate === false ? todaysDate = jDate.toLocaleDateString("en-US", dateOptions) : todaysDate = todaysDate.replace(/\+/g, ' ').replace(/%2C/g, ',');
	
	console.log(todaysDate);
	
	document.getElementById('selected-date').textContent = "Rainfall for " + todaysDate;
	
</script>