<header class="site-header">
	<div class="container header-contain">
		<h1 id="title">TOPNOTCH RAINFALL MONITOR</h1>

		<a class="profile-link" href="index.html">Log Out</a>
		<a class="profile-link" href="#">Welcome user_1

		</a>

	</div>

</header>