<div class="col col-md-7 col-sm-7">
	<div class="chart-panel">
		<h2 class="zip-title">89108 Rainfall</h2>
	
		<table class="rain-table">
			<tr>
				<td class="table-heading">
					Site
				</td>

				<td class="table-heading">
					Rainfall  <i class="fa fa-caret-up"> </i>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>


		</table>
	</div><!-- chart panel -->
	
	<div class="chart-panel">
		<h2 class="zip-title">89108 Rainfall</h2>
	
		<table class="rain-table">
			<tr>
				<td class="table-heading">
					Site
				</td>

				<td class="table-heading">
					Rainfall  <i class="fa fa-caret-up"> </i>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>


		</table>
	</div><!-- chart panel -->

	<div class="chart-panel">
		<h2 class="zip-title">89108 Rainfall</h2>
	
		<table class="rain-table">
			<tr>
				<td class="table-heading">
					Site
				</td>

				<td class="table-heading">
					Rainfall  <i class="fa fa-caret-up"> </i>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>

			<tr>
				<td>
					<h4 class="table-site">Ubuntu</h4>
					123 Fake Street 89147
				</td>

				<td>
					<h3 class="rainfall">.03 in.</h3>
				</td>
			</tr>


		</table>
	</div><!-- chart panel -->

</div><!-- col -->