/*=====================
	#3.2 Calendar
=======================*/

h2.date {
	font-size: 30px;
	background: #a8a8b9;
	text-align: center;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: "Lato-Regular", sans-serif;
}

div.calendar-panel {
	text-align: center;
	background: #fff;
	width: 100%;
	padding-bottom: 35px;
}

#datepicker {
	margin-top: 50px;
	display: inline-block;
}