/*=====================
	#3 Front
=======================*/

div.page-wrapper {
	position: relative;
	z-index: 1;
	background: #e8e8e8;

	/* &:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 500px;
		opacity: .05;
		z-index: -1;
		background: url('img/large_drawn_rain_drops.png');
	} */
}

section.container {
	padding-top: 40px;

	position: relative;
	z-index: 1;

}