/*=====================
	#2 Header
=======================*/

header.site-header {
	background-color: #40404c;
}

div.header-contain {
	line-height: $titleSize;
	padding-bottom: 1px;
}

h1#title {
	color: #eee;
	float: left;
	font-size: $titleSize;
	font-family: 'Langdon', sans-serif;
	margin-top: 5px;
}

a.profile-link {
	float: right;
	text-decoration: none;
	color: #eee;
	margin-left: 10px;
	margin-top: 20px;
	font-family: sans-serif;
}