/*=====================
	#3.1 Table 
=======================*/

div.chart-panel {
	background: #fff;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 15px;
}

h2.zip-title {
	float: left;
	clear: both;
	font-size: 28px;
	font-family: "Lato-Regular", sans-serif;
	margin-left: 24px;

}

table.rain-table {
	width: 100%;
	color: #40404c;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: "Lato-Regular", sans-serif;

	td.table-heading {
		background: #40404c;
		color: #fff;
		font-size: 20px;

		i {
			margin-left: 5px;
		}
	}

	td {
		font-size: 15px;
		padding: 4px 0 4px 25px;
	}

	h4.table-site {
		font-family: "Lato-Bold", sans-serif;
		font-size: 18px;
		margin: 3px 0;
	}

	h3.rainfall {
		font-weight: 800;
		font-size: 20px;
		color: #85d8ff;
	}
}

